# CDK
cdk/node_modules/
cdk/cdk.out/
cdk/cdk.context.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pt
*.egg-info/
.venv/

# misc
.env.local
.DS_Store
*.pem
